body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #283618;
    color: white;
    padding: 10px 0;
    /* border: 10px red dashed; */
}

header a {
    color: white;
}

a:visited {
    color: rgb(11, 174, 228);
}

a:hover {
    color: yellow;
}

main {
    margin: 15px;
    padding: 15px;
    background-color: #fefae0;
}

footer {
    background-color: #283618;
    color: white;
    padding: 10px 0;
}

label {
    display: block;
}

.outline {
    border: 1px black solid;
}

.form {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #dda15e;
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid rgb(61, 61, 61);
    margin-bottom: 7px;
    border-radius: 7px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px;
    background-color: #bc6c25;
    color: white;
    border: none;
    cursor: pointer;
}